@font-face{
	font-family: myFont;
	
src: url('../fuentes/Questrial-Regular.ttf'); 
	
}
.bloque_sentencia{
	font-family: myFont;
	font-size:13px;
}

.definicion {
	padding-left: 5px;
	background-color: #FA27EA;
	border-radius: 10% / 50%;
	height:28px;
	width:110px;
}
/*---------------------------- OPERADORES LOGICOS ------------------------------*/
.operadores_log_izq {
    float:left;
	height: 0px;
	width: 0px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #090;
}
.operadores_log_cen {
    float:left;
	background-color: #090;
	height:28px;
	width:120px;

}
.operadores_log_der{
	
	float:left;
	height: 0px;
	width: 0px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #090;
}
.operador_logico{
	font-family: myFont;
	height: 28px;
	width: 200px;
}
.operador_mate{
	padding-left: 5px;
	background-color: #090;
	border-radius: 10% / 50%;
	height:28px;
	width:115px;
}
/*---------------------------- SENTENCIAS ------------------------------*/
.sentencia_general{
	font-family: myFont;
	height: 167px;
	width: 200px;
}
					/*-------------IF---------------*/
.sen_sup_if{
	background-color: #FF9900;
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:130px;
}
.sen_inf_if{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:115px;
}
.sen_sup_if_tri_grande{
	padding: 5px;
	float:right;
	height: 20px;
	width: 51px;	 
}
.sen_sup_if_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_if_tri_centro{
	float:left;
	height: 20px;
	width: 30px;
	background-color: #FFF;	 
}
.sen_sup_if_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}


					/*--------------MEDIO DE TODAS---------------*/
.sen_medio{
	height:210px;
	width:135px;
}
.sen_med{
	float:left;
	background-color: #FF9900;
	height:110px;
	width: 15px;
}
.sen_med2{
	float:left;
	height: 110px;
	width: 120px;
}
					/*--------------PARA HASTA---------------*/
.sen_sup_ph{
	background-color: #FF9900;
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:200px;
}
.sen_inf_ph{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:115px;
}
.sen_sup_ph_tri_grande{
	padding: 2px;
	float:right;
	height: 20px;
	width: 51px;	 
}
.sen_sup_ph_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_ph_tri_centro{
	float:left;
	height: 20px;
	width: 30px;
	background-color: #FFF;	 
}
.sen_sup_ph_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}
					/*--------------REPITA HASTA---------------*/
.sen_sup_rh{
	background-color: #FF9900;
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:130px;
}
.sen_inf_rh{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:150px;
}
.sen_sup_rh_tri_grande{
	padding: 5px;
	float:right;
	height: 20px;
	width: 51px;	 
}
.sen_sup_rh_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_rh_tri_centro{
	float:left;
	height: 20px;
	width: 30px;
	background-color: #FFF;	 
}
.sen_sup_rh_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}
					/*--------------MIENTRAS---------------*/
.sen_sup_m{
	background-color: #FF9900;
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:200px;
}
.sen_inf_m{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:115px;
}
.sen_sup_m_tri_grande{
	padding: 5px;
	float:right;
	height: 20px;
	width: 51px;	 
}
.sen_sup_m_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_m_tri_centro{
	float:left;
	height: 20px;
	width: 30px;
	background-color: #FFF;	 
}
.sen_sup_m_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}


