@font-face{
	font-family: myFont;
	src: url('../fuentes/Questrial-Regular.ttf'); 
	
}
.bloque_sentencia{
	font-family: myFont;
	font-size:13px;
}

.borrar{
	float: right;
	width:12px;
	height:12px;
	background: url(../imagenes/cancel.png) no-repeat;
	background-size: contain;
	cursor:pointer;
	display:none;
}

.definicion {
	padding-left: 8px;
	/*background-color: #FF0; #FA27EA*/
	border-radius: 10% / 10%;
	height:28px;
	width:115px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff4d), color-stop(100%,#ffff00));
	background: -moz-linear-gradient(top,  #ffff4d 0%,  #ffff00 100%);
}

.asignacion {
	padding-left: 8px;
	background-color: #FF0; /*#FA27EA*/
	border-radius: 10% / 10%;
	height:32px;
	width:260px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff4d), color-stop(100%,#ffff00));
	background: -moz-linear-gradient(top,  #ffff4d 0%,  #ffff00 100%);

}
/*---------------------------- OPERADORES LOGICOS ------------------------------*/
.operadores_log_izq {
    float:left;
	height: 0px;
	width: 0px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #090;
}
.operadores_log_cen {
    float:left;
	background-color: #090;
	height:28px;
	width:120px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00e600), color-stop(100%,#008000));
	background: -moz-linear-gradient(top,  #00e600 0%,  #008000 100%);

}
.operadores_log_der{
	
	float:left;
	height: 0px;
	width: 0px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #090;
}
.operador_logico{
	font-family: myFont;
	height: 28px;
	width: 155px;
}
.operador_mate{
	padding-left: 5px;
	background-color: #090;
	border-radius: 10% / 50%;
	height:28px;
	width:118px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00e600), color-stop(100%,#008000));
	background: -moz-linear-gradient(top,  #00e600 0%,  #008000 100%);
	
}
/*---------------------------- SENTENCIAS ------------------------------*/

					/*--------------MEDIO DE TODAS---------------*/
.sen_medio{
	height:210px;
	width:135px;
}
.sen_med{
	float:left;
	background-color: #FF9900;
	height:110px;
	width: 15px;
}
.sen_med2{
	float:left;
	height: 110px;
	width: 120px;
}
					/*-------------IF---------------*/
					
.sentencia_general_if{
	font-family: myFont;
	height: 140px;
	width: 200px;
}
.sen_sup_if_gen{
	/*background-color: #FF9900;*/
	
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:250px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);
}
.sen_inf_if{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:115px;
	background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);
}
.sen_sup_if_tri_gran{
	padding: 5px;
	float:right;
	height: 20px;
	width: 210px;	 
}

.sen_sup_if_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_if_tri_centro{
	float:left;
	height: 20px;
	width: 100px;
	background-color: #FFF;	 
}
.sen_sup_if_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}
.sen_medio_if{
	height:210px;
	width:135px;
}
.sen_med_if{
	float:left;
	background-color: #FF9900;
	height:80px;
	width: 15px;
}
.sen_med2_if{
	float:left;
	height: 80px;
	width: 120px;
}

					/*--------------SI NO---------------*/
.sentencia_general_1if_else{
	font-family: myFont;
	height: 253px;
	width: 200px;
}
.sen_sup_if_else_gen{
	/*background-color: #FF9900;*/
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:250px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);
}
.sen_sup_if_else_tri_gran{
	padding: 5px;
	float:right;
	height: 20px;
	width: 210px;	 
}
.sen_sup_if_else_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_if_else_tri_centro{
	float:left;
	height: 20px;
	width: 100px;
	background-color: #FFF;	 
}
.sen_sup_if_else_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}
.sen_med_if_else{

	background-color: #FF9900;
	height:80px;
	width: 15px;
}
.sen_med2p_if_else{

	background-color: #FF9900;
	height:80px;
	width: 15px;
}
.sen_medio_if_else{
	background-color: #FF9900;
	border-radius: 0px 8px 8px 0px;
	height:32px;
	width:125px;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));*/
}
.sen_med2_if_else{
	margin-left:15px;
	float:left;
	height: 80px;
	width: 120px;
}
.sen_medos_if_else{
	margin-left:15px;
	float:left;
	height: 80px;
	width: 120px;
}
.sen_inf_if_else{

	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:150px;
	background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);

}

					/*--------------PARA HASTA---------------*/
					
.sentencia_general_ph{
	font-family: myFont;
	height: 140px;
	width: 200px;
}					
.sen_sup_ph{
	background-color: #FF9900;
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:250px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);

}
.sen_inf_ph{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:115px;
	background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);

}
.sen_sup_ph_tri_grande{
	padding: 2px;
	float:right;
	height: 20px;
	width: 51px;	 
}
.sen_sup_ph_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_ph_tri_centro{
	float:left;
	height: 20px;
	width: 30px;
	background-color: #FFF;	 
}
.sen_sup_ph_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}
.sen_medio_ph{
	height:210px;
	width:135px;
}
.sen_med_ph{
	float:left;
	background-color: #FF9900;
	height:80px;
	width: 15px;
}
.sen_med2_ph{
	float:left;
	height: 80px;
	width: 120px;
}
					/*--------------REPITA HASTA---------------*/

.sentencia_general_rh{
	font-family: myFont;
	height: 140px;
	width: 200px;
}
.sen_sup_rh{
	background-color: #FF9900;
	border-radius: 8px 8px 8px 0px;
	height:28px;
	width:130px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);
}
.sen_inf_rh{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:32px;
	width:290px;
	background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);
}
.sen_sup_rh_tri_gran{
	padding: 5px;
	float:right;
	height: 20px;
	width: 210px;	 
}
.sen_sup_rh_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_rh_tri_centro{
	float:left;
	height: 20px;
	width: 100px;
	background-color: #FFF;	 
}
.sen_sup_rh_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}
.sen_medio_rh{
	height:210px;
	width:135px;
}
.sen_med_rh{
	float:left;
	background-color: #FF9900;
	height:80px;
	width: 15px;
}
.sen_med2_rh{
	float:left;
	height: 80px;
	width: 120px;
}
					/*--------------MIENTRAS---------------*/
					
.sentencia_general_m{
	font-family: myFont;
	height: 140px;
	width: 200px;
}
.sen_sup_m{
	background-color: #FF9900;
	border-radius: 8px 8px 8px 0px;
	height:32px;
	width:290px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);

}
.sen_inf_m{
	float:left;
	background-color: #FF9900;
	border-radius: 0px 8px 8px 8px;
	height:28px;
	width:115px;
	background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#ffb84d), color-stop(100%,#ff9900));
	background: -moz-linear-gradient(top,  #ffb84d 0%,  #ff9900 100%);

}
.sen_sup_m_tri_gran{
	padding: 5px;
	float:right;
	height: 20px;
	width: 210px;	 
}
.sen_sup_m_tri_iz{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFFFFF; 
}
.sen_sup_m_tri_centro{
	float:left;
	height: 20px;
	width: 100px;
	background-color: #FFF;	 
}
.sen_sup_m_tri_de{
	float:left;
	height: 0px;
	width:  0px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF; 
}
.sen_medio_m{
	height:210px;
	width:135px;
}
.sen_med_m{
	float:left;
	background-color: #FF9900;
	height:80px;
	width: 15px;
}
.sen_med2_m{
	float:left;
	height: 80px;
	width: 120px;
}
			/*--------------ENTRADA Y SALIDA---------------*/

.entrada{
	padding-left: 5px;
	background-color: #0078F0; /*#FA27EA*/
	border-radius: 10% / 10%;
	height:28px;
	width:250px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ec6ff), color-stop(100%,#0078f0));
	background: -moz-linear-gradient(top,  #8ec6ff 0%,  #0078f0 100%);

}
.salida{
	padding-left: 5px;
	background-color: #0078F0; /*#FA27EA*/
	border-radius: 10% / 10%;
	height:28px;
	width:160px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ec6ff), color-stop(100%,#0078f0));
	background: -moz-linear-gradient(top,  #8ec6ff 0%,  #0078f0 100%);
}
.escribir{
	padding-left: 5px;
	background-color: #0078F0; /*#FA27EA*/
	border-radius: 10% / 10%;
	height:28px;
	width:160px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ec6ff), color-stop(100%,#0078f0));
	background: -moz-linear-gradient(top,  #8ec6ff 0%,  #0078f0 100%);
}
.escribir_salida{
	padding-left: 5px;
	background-color: #0078F0; /*#FA27EA*/
	border-radius: 10% / 10%;
	height:28px;
	width:250px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ec6ff), color-stop(100%,#0078f0));
	background: -moz-linear-gradient(top,  #8ec6ff 0%,  #0078f0 100%);
}