@charset "utf-8";
/* CSS Document */


@font-face{
	font-family: myFirstFont;
	src: url('../fuentes/RussoOne-Regular.ttf'); 
}

.higlight {
	background-color: silver;
}
.ui-tabs-hide
{
  display: none
}

input[type='text']{
	text-align:center;
}

.opcion1{
	width:53px; 
	height:22; 
	margin-top:1px;
}

select{
	width:75px; 
	height:22; 
	margin-top:1px;
}

body{
	font-family: myFirstFont;
	background: -webkit-linear-gradient(top,  #d0dcff 0%,  #FFF 100%);
	background: -moz-linear-gradient(top,  #d0dcff 0%,  #FFF 100%);
	background: -o-linear-gradient(top,  #d0dcff 0%,  #FFF 100%);
	background: linear-gradient(top,  #d0dcffF 0%,  #FFF 100%);
	text-align:left;
}

#encabezado{
	font-size:36px;
	text-shadow: 4px 4px 14px #009;
	color:#FFF;
	padding: 2px 2px 2px 5px;
	background: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#94c9ff), color-stop(100%,#004080));
	background: -webkit-linear-gradient(top,  #004080 0%,  #FFF 150%);
	background: -moz-linear-gradient(top,  #004080 0%,  #FFF 150%);
	background: -o-linear-gradient(top,  #004080 0%,  #FFF 150%);
	background: linear-gradient(top,  #004080 0%,  #FFF 150%);
	height:80px;
	width: 1195px;
	text-align:left;
}

#encabezado #logo{
	float: left;
	width:71px;
	height:100%;
	background: url(../imagenes/logo_unet.png) no-repeat;
	background-size: contain;
}

#encabezado #logo2{
	float: left;
	width:300px;
	height:100%;
	background: url(../imagenes/logo.png) no-repeat;
	background-size: contain;
}

#contenido{
	height: 600px;
	width: 1202px;
	background-color:#333;
	text-align:left;
}

#menu_bloques{
	float:left;
	width:360px;
	height:100%;
	background-color: #e1e1e1;
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
}

#menu_bloques #menu ul{
	list-style:none; /* Eliminamos los bullets */
    margin:0px; /* Quitamos los margenes */
    padding:0px; /* Quitamos el padding */
}

#menu_bloques #menu ul li{
	text-align:center;
	font-size:13px;
	display: inline;
}

#menu_bloques #menu ul li a{
	background: #F7F9FB; 
	padding-bottom: 2px; 
	padding-top: 2px;
	width:180px;
	float:left; 
	color: #000; 
}

#area_trabajo{
	font-size:14px;
	float:left;
	width:482px;
	height:100%;
	background-color: #FFF;
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;

}

#menu_derecho{
	float:left;
	width:360px;
	height:100%;
	background-color: #e1e1e1;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#818181), color-stop(100%,#333333));*/
}

#menu_derecho #entrada{
	padding: 2%;
	width:96%;
	height:7%;
	background-color:#4f8eff;
}

#menu_derecho #salida{
	padding:2%;
	width:96%;
	height:38%;
	background-color:#95bbff;
}

#menu_derecho #info{
	padding:2%;
	font-size:14px;
	width:96%;
	height:34.5%;
	background-color:#4f8eff;
	overflow-x:hidden;
	overflow-y:auto;
}

.eliminar{
	background-image: url(../imagenes/b2.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	width:50%;
	height:23%;
	background-color:#C00;
	text-align:center;

}

.dia{
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	width:250;
	height:250;
	background-color:#C00;
	text-align:center;

}

#menu_derecho .basurero{
	background-image: url(../imagenes/b1.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	width:50%;
	height:23%;
	background-color:#95bbff;
	text-align:center;
}



#menu_derecho #info2{
	text-align:center;
	background-image:url(../imagenes/Play-Normal-icon.png);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	float:left;
	width:50%;
	height:23%;
	background-color:#cacaca;
}

#pie_pagina{
	font-size:13px;
	height:30px;
}

.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-menu { list-style:none; padding: 2px; margin: 0; display:block; outline: none; }
.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; width: 100%; }

.ui-widget-content { float: left;  background:#e1e1e1; }


.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; width: 100%; }
